.textincate {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 4%;
    left: 15%;
    color: aliceblue;
    font-size: 1.6vh;
}

.namecate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0%;
    left: 4%;
    color: aliceblue;
    font-size: 1.73vh;
}

.boxnameselect {
    position: relative;
    width: 100%;
    top: 72%;
}

.textwarp {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    color: aliceblue;
    font-size: 2vh;
    right: 4%;
}

.boxnumber {
    position: relative;
    width: 37%;
    top: -16.5%;
    left: 82%;
}

.numbermap {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    color: aliceblue;
    font-size: 1.3vh;
    border-radius: 0.3vh;
    padding: 0.2vh 1vh;
    background-color: #0a0a0a;
}

.unfreez {
    display: none;
    width: 12%;
    height: 4%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 70%;
    z-index: 1;
    border: none;
    outline: none;
    border-radius: 0.5vh;
    background-color: #181818;
    color: aliceblue;
    font-size: 1.8vh;
    transition: 0.4s ease-in-out;
}
.unfreez:hover {
    cursor: pointer;
    transition: 0.4s ease-in-out;
    background-color: #00b2ff;
}


.btn-warp {
    width: 20%;
    height: 13%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 90%;
    left: 87.5%;
    z-index: 1;
    border: none;
    outline: none;
    border-radius: 0.6vh;
    background-color: #181818;
    color: aliceblue;
    font-size: 2vh;
    transition: 0.4s ease-in-out;
}

.btn-warp:hover {
    cursor: pointer;
    transition: 0.4s ease-in-out;
    background-color: #00b2ff;
}